:root {
  --color-primary: #06AED5;
  --color-secondary: #F0C808;
  --color-tertiary: #FFF1D0;
  --color-highlight: #DD1C1A;
  --color-highlight2: #059B15;
  
  --color-primary-constrast: #fff;
  --color-secondary-contrast: #000;
  --color-tertiary-contrast: #000;
  --color-highlight-contrast: #fff;
  
  --color-primary-shadow: #086788;
  --color-dark-grey: #404040;
  --color-light-grey: #d3d3d3; 
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: black;
  color: white;
}

.fullscreen {
  height: 100%;
  height: 100vh;
  height: 100dvh;
  left: 0;
  overflow: hidden;
  position:absolute;
  top: 0;
  width: 100%;
  width: 100vw;
  width: 100dvw;
}


.hcje-game-area {
  background-color: var(--color-dark-grey);
  border: 0px solid white;
  left: 50%;
  overflow: clip;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear;
}

#hcje-header{
  text-align: center;
}


/* Buttons */

.hcje-button, .hcje-toggle-button {
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 56px;
  outline: outset var(--color-primary-shadow) 4px;
  outline-offset: -4px;
  padding: 0px;
  width: 56px;
  user-select: none;
}

.hcje-button:hover, .hcje-toggle-button:hover {
  filter: brightness(1.1);
}

.hcje-toggle-button.down {
  outline-style: inset;
}


.hcje-button:disabled, .hcje-toggle-button:disabled {
  filter: grayscale(1);
}


/* Form controls */

.hcje-button-control {
  margin-top: 0.5em;
}

.hcje-spinner-control__label
.hcje-button-control__label {
  display: block;
  font-weight: bold;
}

.hcje-spinner-control, .hcje-button-control {
  margin-top: 0.5em;
}

.hcje-spinner-control__inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  padding-bottom: 10px;
}

.hcje-spinner-control__inner .hcje-spinner-control__inner__down-button,
.hcje-spinner-control__inner .hcje-spinner-control__inner__up-button {
  width: 48px;
}

.hcje-spinner-control__inner .hcje-spinner-control__inner__value {
  border: solid 2px var(--color-secondary-contrast);
  flex: 1;
  padding: 0.5em;
  text-align: center;
  transform: translate(0, 4px);
  width: 6em;
}

/* Menu bar styling */
.hcje-menu-bar {
  left: 0;
  position: absolute;
  top: 0;
  transition: top 1s linear;
  z-index: 901;
}

.hcje-menu-bar .hcje-button {
  display: inline-block;
  margin: 5px;
}


.hcje-menu-opener {
  left: 0;
  margin: 5px;
  position: absolute;
  top: 0px;
  transition: left 1s linear, top 1s linear;
  z-index: 900;
}

.hcje-menu-opener--hidden {
  left: -100px;
}

.hcje-menu-bar--hidden {
  top: -100px;
}


/* Dialogs */

.hcje-dialog-mask {
  background-color: #000;
  opacity: .9;
  transition: opacity 0.5s linear;
}

.hcje-dialog-box {
  align-content: space-between;
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
  display: flex;
  flex-direction: column;
  left: 50%;
  min-width: 300px;
  max-height: 75%;
  opacity: 1;
  padding: 1em;
  position: absolute;
  top: 50%;
  transition: opacity 0.5s linear;
  transform: translate(-50%, -50%);
  width: 75%;
}

.hcje-dialog-box p {
  margin: 0.5em;
}


.hcje-dialog-box a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
}


.hcje-dialog-box__title {
  border-bottom: var(--color-secondary-contrast) solid 2px;
  margin: 0px;
}

.hcje-dialog-box__title h1 {
  margin: 0;
}

.hcje-dialog-box__body {
  flex: 1;
  overflow-y: auto
}

.hcje-dialog-box__buttons {
  margin: 0.5em;
  text-align: center;
}

.hcje-dialog-box__button {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.hcje-dialog-box.center-contents p {
  text-align: center;
}

.hcje-dialog-box img {
  display: block;
  margin: auto;
  max-width: 280px;
}

