:root {
  --colorPrimary: #06AED5;
  --colorSecondary: #F0C808;
  --colorTertiary: #FFF1D0;
  --colorHighlight: #DD1C1A;
  --colorHighlight2: #059B15;
  
  --colorPrimaryContrast: #fff;
  --colorSecondaryContrast: #000;
  --colorTertiaryContrast: #000;
  --colorHighlightContrast: #fff;
  
  --colorPrimaryShadow: #086788;
  --colorDarkGray: #404040;
  --colorLightGray: #d3d3d3; 
}

html {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: black;
  color: white;
}

.hcje-game-area {
  background-color: black;
}

.image-background {
  background-color: red;
  position: absolute;
}

.slice-control, .slice-control {
  display: flex;
  left: 0px;
  position: absolute;
  top: 0px;
}

.slice-control--vertical {
  flex-direction: column;
}

.slice-control__hcje-button--correct {
}

.slice-control .hcje-button ,
.slice-control .hcje-button {
  border-radius: 0;
  display: inline-block;
}

.slice-image {
  display: inline-block;
}

